.items {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  margin-bottom: 15px;
  counter-reset: done-items undone-items;
}

.done {
  order: 1;
}

.done::after {
  content: ' (' counter(done-items) ')';
}

.undone {
  order: 3;
}

.undone::after {
  content: ' (' counter(undone-items) ')';
}

.items p {
  position: relative;
  margin: 0;
  padding: 10px 0;
  font-size: 1.2em;
}

.items p::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -20px;
  width: 5px;
  background-color: #435757;
}

.items p::after {
  display: block;
  float: right;
  font-weight: normal;
}
.items input {
  display: block;
  height: 53px;
  margin: 0 0 -53px -9999px;
  order: 4;
  outline: none;
  counter-increment: undone-items;
}

.items input:checked {
  order: 2;
  counter-increment: done-items;
}

.items label {
  margin: 0px 0px;
  display: block;
  position: relative;
  padding: 6px 0 6px 45px;
  border-top: 1px dashed #D8D8D8;
  order: 4;
  cursor: pointer;
  animation: undone .5s;
}

.items label::before {
  content: '\2718';
  display: block;
  position: absolute;
  left: 10px;
  bottom: 3px;
  font: 1.5em 'FontAwesome';
}

.items label:hover, input:focus + label {
  background-color: #F0F0F0;
}

.items input:checked + label {
  order: 2;
  animation: done .5s;
}

.items input:checked + label::before {
  content: '\2714';
}
@keyframes done {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, .4);
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, .4);
  }
}

@keyframes undone {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, .4);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, .4);
  }
}
